{% extends 'htmls/main.html' %}
{% block content %}
{% load static %}

<head>
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
</head>

<body>

	<div id="container">
		<div class="title">
			<h2>BMI</h2>
		</div>

		<div class="description">
			<p>
				Calculate your Body Mass Index so that you can easily understand your current body fat situation.
			</p>
		</div>	

		<div class="BMI_form_class">
			<form action="{% url 'BMI' %}" method="POST">
				{% csrf_token %}
					
				<div class="BMI_field">
					<input type="text" name="height" placeholder="Enter Your Heght" required>
					<label>Inch</label>
				</div>

				<div class="BMI_field">
					<input type="text" name="weight" placeholder="Enter your weight" required>
					<label>Kg</label><br><br>
				</div>

				<button class="bmi_button" type="submit">Calculate</button>
			</form>
		</div>

		<div class="result">
			{% if bmi_comment != '' %}
			<br>
				<h3>{{bmi_result}} kg/m2</h3>
				<h3>Comment: {{bmi_comment}}</h3>
				<a class="refresh" href="{% url 'BMI' %}">Refresh</a> <br>
			{% endif %}
			
			{% load static %}
			<img src="{% static 'images/BMI RT.png' %}" alt="BMI reference">

		</div>

	
</div>

</body>

{% endblock %}