{% extends 'htmls/main.html' %}
{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
</head>

<body>

    <div class="description">
        <p>
            You need to submit the value of the substance you want to check.
            If the submitted substance level is not normal our website will give you the disease name that you might have with a short description of it.
            We will suggest you the doctor's department that you should visit for getting proper treatment. 
        </p>
    </div>


    <br>
<form action="{% url 'result' row.id %}" method="post">
    {% csrf_token %}
<table>
    <tr>
        <th>Test id</th>
        <th>Test name</th>
        <th >Test Value</th>
        <th >Unit</th>
        <th ></th>
    </tr>
    <tr></tr>
    <tr>
        <td >{{ row.tid }}</td>
        <td >{{ row.Test_Name }}</td>
        <td><input type="text" name="level" placeholder="Enter {{ row.Test_Name }} level" required style="width: 250px;"></td>
        <td>{{ row.tunit }}</td>
        <td><button class="submit_button" type="submit">Submit</button></td>
    </tr>
    
</table>
</form>
</body>

{% endblock %}