{% extends 'htmls/main.html' %}
{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
</head>

<body>

<div class="title">
    <H2>Reputed Diagnostic Centers</H2>
</div>

<div class="bar">
    <form method="GET">
        {{myFilter.form}}
        <button class="submit_button" type="submit">Filter</button>
    </form>
</div>

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Details</th>
            <th>Photo</th>
        </tr>
        {% for i in diagnostic_list %}
        <tr>
            <td>{{ i.Did }}</td>
            <td><b>{{ i.Name }}</b></td>
            <td class="details">
                <b>Area: </b>{{i.Area}} <br>
                <b>Type: </b>{{ i.Type }} <br>
                <b>Address: </b> {{ i.Address }} <br>
                <b>Contact Number: </b> {{ i.Contact }} <br>
                <b>Website: </b> <a href="{{ i.Website }}" target="_blank">Go to {{ i.Name }}'s Website</a> <br>
                <b>Rating:  {{i.Rating}}/5 </b> ({{i.numberOfRating}} person rated)<br><br>

                <a class="normal_button" href="{% url 'diagnosticDetails' i.id %}">Rate & Comments</a>
            </td>
            <td>
                <img class="photo" src="{{ i.photo.url }}" alt="Hospital Photo">
            </td>
        </tr>
        {% endfor %}
    </table>

</body>


{% endblock %}

