{% extends 'htmls/main.html' %}
{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
</head>

<body>

    <div class="review_details">
        <p>
            <img src="{{ doctor.photo.url }}" alt="">
            <br>
            <b>Name:</b>  {{doctor.Name}} <br>
            <b>Designation:</b> {{doctor.Designation}} <br>
            <b>Qualification:</b> {{doctor.Qualification}} <br>
            <b>Address:</b> {{doctor.Address}} <br>
            <b>Department:</b> {{doctor.Department}} <br>
            <b>Contact:</b> {{doctor.Contact}} <br>
            <b>Rating:</b> {{doctor.rating}}/5 <br>
            <b>Number Of Ratings:</b> {{doctor.numberOfRating}}
        </p>
    </div>

    <div class="review">

        <div class="ratings">
            <form action="{% url 'doctorRating' doctor.id %}" method="POST">
                {% csrf_token %}
                
                <label for="rating">Give a Rating out of 5 </label><br>
                <input type="range" name="rating" id="rangeInput" min="0" max="5" value="0" step="1"
                oninput="amount.value=rangeInput.value">

                <output name="amount" id="amount" for="rangeInput">0</output>
                
                <button type="submit">Rate</button>
            </form>
        </div>

        <div class="comments">
            <form action="{% url 'doctorComment' doctor.id %}" method="POST">
                {% csrf_token %}
                <textarea name="comment" cols="20" rows="1"></textarea>
                <br>
                <button type="submit">Comment</button>
            </form>
        </div>

    </div>

<hr>
    <div class="reviews">
        <h3>Comments</h3>
        {% for i in row %}
            <b>{{i.user}}</b>  {{i.date}}
                <br>
            {{i.comment}}
            <hr>
        {% endfor %}

    </div>

</body>
{% endblock %}