{% extends 'htmls/main.html' %}
{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
</head>

<body>
    
<div class="title">
    <h2>List of {{ doctor_dept }}</h2>
</div>

<div class="messages">      
    {% for i in messages %}
        <p>{{ i }}</p>
    {% endfor %}
</div>

<div class="bar">
    <form method="GET">
        {{myFilter.form}}
        <button class="submit_button" type="submit">Filter</button>
    </form>
</div>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Details</th>
        <th>Photo</th>
    </tr>

    {% for i in special_doctor %}
    <tr>
    <td>{{i.DOCid}}</td>
    <td><b>{{i.Name}}</b></td>
    <td class="details">
        <b>Designation: </b> {{i.Designation}} <br>
        <b>Qualification: </b> {{i.Qualification}} <br>
        <b>Department: </b> {{i.Department}} <br>
        <b>Address</b> {{i.Address}} <br>
        <b>Contact Number: </b> {{i.Contact}} <br>
        <b>Rating:  {{i.rating}}/5 </b> ({{i.numberOfRating}} person rated)<br><br>
        <a class="normal_button" href="{% url 'doctorDetails' i.id %}">Rate & Comments</a>
    </td>
    <td>
        <img class="photo" src="{{ i.photo.url }}" alt="">
    </td>
    
    {% endfor %}
    </tr>
</table>

{% endblock %}
</body>