{% extends 'htmls/main.html' %}
{% block content %}

<head>

    <style>
        .description{
            background: rgba(0, 0, 0, 0.658);
            border-radius: 5px;
            color: white;
            padding: 5px;
            margin-top: 10px;
            text-align: center;
            font-size: 18px;
          }
    </style>
</head>

<body>
    <div class="description">
        <p>
            Here you can get the standard growth chart of children. 
            That will help you to understand your children's growth rate is normal or they need special care.
        </p>
    </div>

</body>



{% endblock %}