{% extends 'htmls/main.html' %}
{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
</head>

<body>
    <div class="title">
        <h2>Standard growth chart of children</h2>
    </div>
    <div class="description">
        <p>
            Here you can get the standard growth chart of children. 
            That will help you to understand your children's growth rate is normal or they need special care.
        </p>
    </div>

    {% load static %}
    <div id="chart">
        <img src="{% static 'images/growth.jpg' %}" alt="Growth Chart">
    </div>

</body>



{% endblock %}