{% extends 'htmls/main.html' %}
{% block content %}
{% load static %}

<head>
    <link href="https://fonts.googleapis.com/css?family=Inter:400,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/home.css' %}">
</head>

<body>

  <div class="title">
    <h2>Detect disease based on your medical report & Get expert doctors</h2>
  </div>

  <div class="messages">      
    {% for i in messages %}
        <p>{{ i }}</p>
    {% endfor %}
  </div>

  <div id="content2">
    <div class="slideshow_item">
      <div class="slideshow-item-text">
        <h5>Get best doctors</h5>
      </div>
      <img src="{% static 'images/2.jpg' %}" alt="Doctor">
    </div>

    <div class="slideshow_item">
      <div class="slideshow-item-text">
        <h5>Find out best Hospitals & diagnostic centers</h5>
      </div>
      <img src="{% static 'images/3.jpg' %}" alt="Hospitals & Diagnostic Centers">
    </div>

    <div class="slideshow_item">
      <div class="slideshow-item-text">
        <h5>Save time & money</h5>
      </div>
      <img src="{% static 'images/8.jpg' %}" alt="Save time and money">
    </div>

    <div class="slideshow_item">
      <div class="slideshow-item-text">
        <h5>Keep previous records</h5>
      </div>
      <img src="{% static 'images/5.jpg' %}" alt="History">
    </div>

    <div class="slideshow_item">
      <div class="slideshow-item-text">
        <h5>Know your current body fat situation</h5>
      </div>
      <img src="{% static 'images/6.jpg' %}" alt="BMI">
    </div>

    <div class="slideshow_item">
      <div class="slideshow-item-text">
        <h5>Standard growth information of children</h5>
      </div>
      <img src="{% static 'images/7.jpg' %}" alt="Growth chart">
    </div>

    <div class="slideshow_item">
      <div class="slideshow-item-text">
        <h5>Identify disease from anywhere</h5>
      </div>
      <img src="{% static 'images/1.jpg' %}" alt="Disease detections">
    </div>
  </div>  

</body>
{% endblock %}