{% extends 'htmls/main.html' %}
{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
</head>

<body>

    <div class="full">

        <div class="title">
            <h2>Profile</h2>
        </div>

        <div class="messages">      
            {% for i in messages %}
                <p>{{ i }}</p>
            {% endfor %}
        </div>

        <a class="normal_button" href="{% url 'records' %}">Show previos checked test records</a>

        <div class="user_details">
            <b>User ID:</b> {{ user }} <br>
            <b>User Email address:</b> {{ user.email }} <br>
            <a href="{% url 'profileUpdate' %}">Update Profile</a>
        </div>

    </div>

</body>

{% endblock %}