{% extends 'htmls/main.html' %}
{% block content %}
{% load static %}

<head>
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
</head>

<body>
	<div class="form_class">
		<h2>Profile Update</h2>
		<form method="POST" action="{% url 'profileUpdate' %}">
			{% csrf_token %}

			<div class="field">
				<span class="profile_icon"><i class="fas fa-user"></i></span>
				{{u_form.username}}
			</div>

			<div class="field">
				<span class="profile_icon"><i class="fas fa-envelope-square"></i></span>
				{{u_form.email}}
			</div>

			<script>

				//Query All input fields
				var form_fields = document.getElementsByTagName('input')
				form_fields[1].placeholder='New Username..';
				form_fields[2].placeholder='New Email..';

			</script>

			<input  type="submit" value="Update" class="button">
		</form>

		{{form.errors}}
	</div>
</body>

	

        

{% endblock %}