{% extends 'htmls/main.html' %}
{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
</head>

<body>

<div class="title">
    <h2>Previous tested records of {{ user }}</h2>
</div>

<div class="messages">      
    {% for i in messages %}
        <p>{{ i }}</p>
    {% endfor %}
</div>

<table>
    <tr>
        <th>Date</th>
        <th>Test Name</th>
        <th>Details</th>
    </tr>
    {% for i in user_record %}
    <tr>
        <td>{{i.rdate}}</td>
        <td>{{i.Test_Name}}</td>
        <td class="details">
            <b>Level: </b>{{i.tlevel}} <br>
            <b>Normal Value/Reference Value: </b> {{i.treference}} <br>
            <b>Comment: </b> {{i.rcomment}} <br>
            <b>Suggested Doctor: </b> {{i.tdoctor}} <br>
            <div class="link">
                <a class='normal_button' href="{% url 'recordDoctor' i.id %}">Get Expert {{i.tdoctor}} list</a>
            </div>
        </td>
        
    </tr>
    {% endfor %}
</table>
</body>

{% endblock %}