{% extends 'htmls/main.html' %}
{% block content %}
{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
</head>

<body>
    
    <div class="title">
        <h2>Test List</h2>
    </div>

    <div class="bar">
        <form method="GET">
            {{myFilter.form}}
            <button class="submit_button" type="submit">Search</button>
        </form>
    </div>

    <div class="special">
        <a class="normal_button" href="{% url 'BMI' %}">Body Mass Index</a>
        <a class="normal_button" href="{% url 'growth' %}">Standard Growth Chart</a>
    </div>

    <table>
        <tr>
            <th>Test Id</th>
            <th>Test Name</th>
            <th></th>
        </tr>

        {% for i in table_test %}
        <tr>
            <td>{{ i.tid }}</td>
            <td >{{ i.Test_Name }}</td>
            <td>
                <a class="normal_button" href="{% url 'check' i.id %}">Check</a>
            </td>
        </tr>
        {% endfor %}
    </table>

</body>

{% endblock %}