{% extends 'htmls/main.html' %}
{% block content %}
{% load static %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
</head>

<div class="via">
<div class="title">
  <h2>This feature is only for registered users</h2>
</div>
<br>
<h4>If you have an account already, Click login</h4>
<form action="{% url 'via_login' %}" method="post">
    {% csrf_token %}
    {% if request.GET.next %}
    <input type="hidden" name="next" value="{{ request.GET.next }}">
    {%  endif %}

    <button class="log" type="submit" value="login">Login</button>
</form>

<h4>If you do not have an account, Click register</h4>

<form action="{% url 'via_register' %}" method="post">
    {% csrf_token %}
    {% if request.GET.next %}
    <input type="hidden" name="next" value="{{ request.GET.next }}">
    {%  endif %}
    <button class="reg" type="submit" value="Register">Register</button>
</form>
</div>
{% endblock %}